<div class="container content rating">
    <div class="title">
        <h3>Рейтинг на 17 ноября 2017 г.</h3>
    </div>
    <div class="line"></div>
    <div role="article" class="article">
        <table role="table">
            <thead>
                <tr>
                    <th rowspan="2">Ник</th>
                    <th colspan="2">К-во Игр</th>
                    <th colspan="2" class="civilian">Мирный</th>
                    <th colspan="2" class="mafia">Мафия</th>
                    <th colspan="2" class="civilian">Шериф</th>
                    <th colspan="2" class="mafia">Дон</th>
                    <th colspan="2">Лучший</th>
                    <th rowspan="2">Первый<br>Убитый</th>
                    <th rowspan="2">% Побед</th>
                    <th rowspan="2">Рейтинг</th>
                </tr>
                <tr>
                    <th>Победы</th>
                    <th>Поражения</th>
                    <th>Победы</th>
                    <th>Поражения</th>
                    <th>Победы</th>
                    <th>Поражения</th>
                    <th>Победы</th>
                    <th>Поражения</th>
                    <th>Победы</th>
                    <th>Поражения</th>
                    <th>Ход</th>
                    <th>Игрок</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ангел</td>
                    <td class="win">13</td>
                    <td class="defeat">7</td>
                    <td class="win">10</td>
                    <td class="defeat">7</td>
                    <td class="win">6</td>
                    <td class="defeat">4</td>
                    <td class="win">2</td>
                    <td class="defeat"></td>
                    <td class="win">2</td>
                    <td class="defeat">2</td>
                    <td></td>
                    <td>1,5</td>
                    <td></td>
                    <td>65</td>
                    <td class="rating">237.5</td>
                </tr>
                <tr>
                    <td>Эмма</td>
                    <td class="win">26</td>
                    <td class="defeat">20</td>
                    <td class="win">25</td>
                    <td class="defeat">13</td>
                    <td class="win">13</td>
                    <td class="defeat">7</td>
                    <td class="win">4</td>
                    <td class="defeat">3</td>
                    <td class="win">4</td>
                    <td class="defeat">3</td>
                    <td>0.5</td>
                    <td>2</td>
                    <td>7</td>
                    <td>55.32%</td>
                    <td class="rating">217.07</td>
                </tr>
                <tr>
                    <td>Mouse</td>
                    <td class="win">25</td>
                    <td class="defeat">20</td>
                    <td class="win">26</td>
                    <td class="defeat">15</td>
                    <td class="win">6</td>
                    <td class="defeat">4</td>
                    <td class="win">9</td>
                    <td class="defeat">4</td>
                    <td class="win">4</td>
                    <td class="defeat">2</td>
                    <td></td>
                    <td>4</td>
                    <td>5</td>
                    <td>54.35</td>
                    <td class="rating">192.46</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
