{
  "extends": "keystone",
  "rules" : {
    "comma-dangle": ["error", "never"],
    "key-spacing" : ["error", {
      "beforeColon": true
    }],
    "quotes" : ["error", "double"],
    "indent": ["error", 4]
  }
}
